<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>pl.servlets.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>pl.servlets.auth.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>pl.servlets.auth.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Hotels</servlet-name>
        <servlet-class>pl.servlets.hotel.HotelsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hotels</servlet-name>
        <url-pattern>/hotels</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddHotel</servlet-name>
        <servlet-class>pl.servlets.hotel.AddHotelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddHotel</servlet-name>
        <url-pattern>/addHotel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditHotel</servlet-name>
        <servlet-class>pl.servlets.hotel.EditHotelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditHotel</servlet-name>
        <url-pattern>/editHotel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SavePrivileges</servlet-name>
        <servlet-class>pl.servlets.admin.SavePrivilegesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SavePrivileges</servlet-name>
        <url-pattern>/savePrivileges</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveHotel</servlet-name>
        <servlet-class>pl.servlets.hotel.SaveHotelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveHotel</servlet-name>
        <url-pattern>/saveHotel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteHotel</servlet-name>
        <servlet-class>pl.servlets.hotel.DeleteHotelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteHotel</servlet-name>
        <url-pattern>/deleteHotel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CurrentOccupation</servlet-name>
        <servlet-class>pl.servlets.occupation.CurrentOccupationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurrentOccupation</servlet-name>
        <url-pattern>/currentOccupation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AcceptReservation</servlet-name>
        <servlet-class>pl.servlets.reservation.AcceptReservationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcceptReservation</servlet-name>
        <url-pattern>/acceptReservation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddRoom</servlet-name>
        <servlet-class>pl.servlets.hotel.room.AddRoomController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRoom</servlet-name>
        <url-pattern>/addRoom</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditRoom</servlet-name>
        <servlet-class>pl.servlets.hotel.room.EditRoomController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditRoom</servlet-name>
        <url-pattern>/editRoom</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveRoom</servlet-name>
        <servlet-class>pl.servlets.hotel.room.SaveRoomController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveRoom</servlet-name>
        <url-pattern>/saveRoom</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteRoom</servlet-name>
        <servlet-class>pl.servlets.hotel.room.DeleteRoomController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRoom</servlet-name>
        <url-pattern>/deleteRoom</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Privileges</servlet-name>
        <servlet-class>pl.servlets.admin.PrivilegesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Privileges</servlet-name>
        <url-pattern>/privileges</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Reservations</servlet-name>
        <servlet-class>pl.servlets.reservation.ManageReservationsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reservations</servlet-name>
        <url-pattern>/reservations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>pl.servlets.auth.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Token</servlet-name>
        <servlet-class>pl.servlets.auth.TokenController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Token</servlet-name>
        <url-pattern>/token</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>pl.servlets.reservation.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>searchHotel</servlet-name>
        <servlet-class>pl.servlets.reservation.SearchHotelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchHotel</servlet-name>
        <url-pattern>/searchHotel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>viewHotel</servlet-name>
        <servlet-class>pl.servlets.reservation.ViewHotelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewHotel</servlet-name>
        <url-pattern>/viewHotel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>viewRoom</servlet-name>
        <servlet-class>pl.servlets.reservation.ViewRoomController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewRoom</servlet-name>
        <url-pattern>/viewRoom</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bookRoom</servlet-name>
        <servlet-class>pl.servlets.reservation.BookRoomController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bookRoom</servlet-name>
        <url-pattern>/bookRoom</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addComment</servlet-name>
        <servlet-class>pl.servlets.reservation.AddCommentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addComment</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>
</web-app>